aws/step-functions/simple-maths/serverless.yml
service: hello-world

frameworkVersion: '2'

plugins:
  - serverless-step-functions

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221
  region: us-east-2

functions:
  add:
    handler: handler.add

  double:
    handler: handler.double

  doubleBigNumber:
    handler: handler.doubleBigNumber


stepFunctions:
  stateMachines:
    simple-maths:
      name: simple-maths
      definition:
        Comment: example to demonstrate function chaining
        StartAt: Add
        States:
          Add:
            Type: Task
            Resource:
              Fn::GetAtt: [add, Arn]
            Next: IsBigNumber
          IsBigNumber:
            Type: Choice
            Choices:
              - Variable: $
                NumericGreaterThan: 50
                Next: DoubleBigNumber
            Default: Double
          Double:
            Type: Task
            Resource: 
              Fn::GetAtt: [double, Arn]
            End: true
            Retry:
              - ErrorEquals: [NumberIsTooBig]
                MaxAttempts: 0
              - ErrorEquals: [States.ALL]
                MaxAttempts: 3
            Catch:
              - ErrorEquals: [NumberIsTooBig]
                Next: DoubleBigNumber
          DoubleBigNumber:
            Type: Task
            Resource:
              Fn::GetAtt: [doubleBigNumber, Arn]
            End: true
